:root {
  /* ---- Primary Colors ---- */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --white: hsl(0, 0%, 100%);

  /* ---- Neutral Colors ---- */
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(180, 3%, 21%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --light-red: #ffadcb;

  --contianer-margin: 10%;
}

/* nav start  */
.nav {
  padding: 1rem;
  margin-bottom: 3rem !important;
}
.nav-logo {
  width: 100px;
  height: 100px;
}
/* nav end  */

/* content start  */

.content-left h1 {
  font-size: 60px;
  line-height: 1.18;
  color: var(--very-dark-violet);
  font-family: 'Oldenburg', cursive;
}
.content-left p {
  line-height: 1.7;
  font-size: 25px;
  color: #535353;
  /* font-family: 'Oldenburg', cursive; */
  font-family: 'Poppins', sans-serif;
}
.content-left button {
  height: 45px;
  padding: 0 50px;
  border-radius: 30px;
}
/* content end  */

/* button style  */
button {
  color: white;
  background-color: var(--cyan);
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
/* button style  */

/* Main body container start */
.main-container {
  /* position: relative; */
  background-color: rgb(232, 236, 241, 0.7);
  padding: 60px 10%;
  height: auto;
}
/* Main body conatiner end  */

/* Shortner main body start  */
.main-shortner {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 45px 20px 20px 20px;
  padding-bottom: 20px;
  min-height: 150px;
  width: 80%;
  background-color: var(--dark-violet);
  background-image: url('../images/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.main-shortner-top-row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-shortner-input-container {
  width: 65%;
}
.main-shortner-input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  color: gray;
  font-size: 17px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
}
.shorturl-input {
  width: 50%;
  margin: 0 auto;
}
.main-shortner-input-container p {
  color: rgb(201, 89, 89);
  font-style: italic;
  margin-top: 7px;
  font-size: 13px;
  visibility: hidden;
}
.main-shortner-btn {
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0 1rem;
  font-size: 17px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.main-shortner-btn:hover {
  opacity: 0.9;
}
.main-shortner-btn:active {
  background-color: hsl(180, 66%, 39%);
}

/* modal Start*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* display: none; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 40%, 0.6);
  --light: hsl(0, 0%, 100%);
  --background: linear-gradient(
    to right bottom,
    hsl(180, 66%, 49%),
    hsl(195, 50%, 50%)
  );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans',
    sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container:target {
  display: flex;
}

.modals {
  width: 60rem;
  padding: 3rem 1rem;
  border-radius: 1.8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: 0.4rem 0.4rem 2.4rem 0.2rem hsl(236deg 50% 50% / 30%);
  position: relative;
  overflow: hidden;
  height: 320px;
  margin: 0 1rem;
}

.modaldetails {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.modaltitle {
  font-size: 3rem;
  margin-top: 1rem;
}

.modaldescription {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-style: italic;
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  text-align: center;
}
.modaldescription::selection {
  background: transparent;
}
.modaldescription:focus {
  outline: none;
}

.modalbtn {
  padding: 1rem 1.6rem;
  border: 2px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 100rem;

  color: inherit;
  background: transparent;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 0.2rem;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.modalbtn:hover,
.modalbtn:focus {
  border-color: hsla(0, 0%, 100%, 0.6);
  transform: translateY(-0.2rem);
}

.link-2 {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.link-2::before {
  content: '×';

  /* transform: translateY(-0.1rem); */
}

.link-2:hover,
.link-2:focus {
  border-color: hsla(0, 0%, 100%, 0.6);
  /* transform: translateY(-0.2rem); */
}

/* Modal End  */

/* Shortner main body end  */

/* error box */
.error-box {
  background: var(--light-red);
  height: 100px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 0, 0, 0.678);
  font-weight: bold;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 20px;
}

/* Hover div for long url */
/* .hover-div {
  background: grey;
  font-size: 0.7rem;
  min-height: 30px;
  max-width: 100%;
  color: #fff;
  padding: 0.8rem;
  display: none;
  /* visibility: hidden;
  opacity: 0; */
/* border-radius: 10px; */
/* transition: all 0.3s ease; */
/* } */
/* 
.activate-hover:hover .hover-div {
  display: block; */
/* visibility: visible;
  opacity: 1; */
/* } */

/* Feature main body start  */
.feature-info {
  margin: 0 auto 100px auto;
  text-align: center;
  width: 450px;
}
.feature-info h1 {
  color: var(--very-dark-violet);
}
.main-features {
  /* border: 1px solid violet; */
  position: relative;
  display: flex;
  margin-bottom: 50px;
}
.main-features hr {
  position: absolute;
  height: 5px !important;
  width: 90%;
  background-color: var(--cyan);
  border: none;
  top: 70%;
  opacity: 1;
  margin: 0 0;
  /* z-index: 1; */
}
.main-features-info {
  background-color: white;
  margin-right: 25px;
  padding: 40px 20px 20px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 1;
  width: 33%;
  position: relative;
}
.main-features-info img {
  width: 35px;
}
.main-features-info:nth-child(3) {
  top: 30px;
}
.main-features-info:nth-child(4) {
  top: 60px;
}
.main-features-images {
  position: absolute;
  top: -35px;

  height: 70px;
  width: 70px;
  background-color: var(--dark-violet);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-features-info h3 {
  color: #3b3054;
  margin: 20px 0;
  font-size: 21px !important;
  font-weight: 700;
}
.main-features-info p {
  color: var(--grayish-violet);
  font-size: 14px;
  line-height: 1.8;
}
/* Feature main body end  */
/* Result start */

#url-list {
  width: 100%;
  max-height: 500px;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  background: var(--white);
  margin: 2rem 0;
}
.url-list-item {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  min-height: 80px;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.url-list-item a {
  display: block;
  text-decoration: none;
  text-align: right;
  word-wrap: break-word;
}

.url-list-item div {
  width: 50%;
}

.url-list-item div:nth-child(1) a {
  color: rgb(18, 117, 231);
  text-align: left;
}
.url-list-item div:nth-child(2) a {
  color: var(--cyan);
}

/* Custom Scrollbar */

.style-6::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.style-6::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.style-6::-webkit-scrollbar-thumb {
  background-color: var(--cyan);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

/* Result end */
/* Footer start  */
footer {
  background: black;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: var(--cyan);
  text-decoration: none;
}

footer span a:hover {
  color: crimson;
  text-decoration: underline;
}
/* Footer end  */

.inactive {
  display: none;
}

/* Media Start */
@media screen and (max-width: 767px) {
  .content-left {
    text-align: center;
  }

  .nav {
    margin-bottom: 1.5rem !important;
  }

  .nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-left h1 {
    font-size: 40px;
    font-family: 'Oldenburg', cursive;
  }
  .content-left p {
    font-size: 17px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .content-left h1 {
    font-size: 50px;
    font-family: 'Oldenburg', cursive;
  }
}

@media screen and (max-width: 900px) {
  .main-shortner {
    top: -100px;
    display: flex;
    flex-direction: column;
    background-image: url('../images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top right;
    width: 100%;
  }
  .main-shortner-top-row {
    flex-direction: column;
  }
  .shorturl-input {
    width: 100%;
  }
  .main-shortner-input-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-shortner-input {
    height: 60px;
    font-size: 20px;
  }
  .main-shortner-btn {
    margin: 10px 0;
    height: 60px;
    font-size: 20px;
  }
  .error-box {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .feature-info {
    width: 90%;
  }
  .modaltitle {
    font-size: 2rem;
  }
  .modaldescription {
    font-size: 1.2rem;
  }
  .main-features {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    height: auto;
    flex-direction: column;
    /* border: 1px solid red; */
  }
  .main-features hr {
    height: 90% !important;
    width: 7px;
    align-self: center;
    justify-self: center;
    top: 0;
  }
  .main-features-info {
    margin: 20px 0;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
  }
  .main-features-images {
    height: 85px;
    width: 85px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .main-features-info img {
    width: 40px;
  }
  .main-features-info h3 {
    font-size: 25px;
    margin-top: 35px;
  }
  .main-features-info p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .url-list-item {
    flex-direction: column;
    font-size: 1rem;
  }

  .url-list-item div {
    width: 100%;
  }
  .url-list-item div:nth-child(1) a {
    text-align: center;
  }
  .url-list-item div:nth-child(2) a {
    text-align: center;
  }
}
/* Media End  */
